*{
    display:block;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#title{
    display: grid;
    text-align: center;
    font-size: 200%;
    color: #50C878	;
    margin-top: 0%;
    margin-bottom: 1%;
    border-radius: 2%;
    background-color: #1C1B1C;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 750;
    box-shadow: 10px 5px 10px #888888; 
    padding: 0.5%;
}

body{
    background-color: white;
}

#numberButton:hover{
    transition: transform .1s;
    transform: scale(1.05);
}

/*footer*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    height: auto;
    width: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
    color: white;
}

.content{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -15px;
}

.content h3{
    font-size: 1.8rem;
    font-weight: 750;
    text-transform: capitalize;
    line-height: 2.5rem;
    color: black;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;

}

.socials li{
    margin: 0 10px;
    
}

.socials a:hover {
    color: white;
    
}

.socials span{
    font-weight: bold;
    
}

.footer-bottom {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.fa-github {
    background: green ;
    color: black;
    font-weight: bold;
    /* color: #24292F; */
}

/* body */
.clicking{
    text-align: center;
}

#numberButton{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    position: absolute;
    left: 40%;
    top: 10%;
}
#box-container{
    position: relative;
    height: 50px;
}

script{
    display: none;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgradeButton{
    padding: 1%;
    margin: 0.25%;
}

.number{
    font-size: 40px;
}