.gameCanvas{
    background-color: red;
    bottom: 5%;
    
}

*{
    display:block;
    margin: 5px;
    /* position: absolute; */
    /* transform: translate(10px, 10px); */
    
}

title{
    color: red;
    font-size: 200%;
} 

body{

}