.gameCanvas{
    background-color: red;
    bottom: 5%;
}

*{
    display:block;
    margin: 0px;
    background-color: white;
    /* position: absolute; */
    /* transform: translate(10px, 10px); */
    
}
#numberButton:hover{
    transition: transform .1s;
    transform: scale(1.175);
}

#title{
    display: grid;
    text-align: center;
    font-size: 200%;
    color: yellow;
    margin-top: 0%;
    margin-bottom: 1%;
    border-radius: 2%;
    background-color: #1C1B1C;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 750;
    box-shadow: 10px 5px 10px #888888; 
    padding: 0.5%;
}

.fa:hover {
    #24292F
}
.fa-github {
    background: white ;
    color: #24292F;
}

.social{
    display: flex;
    margin-left: 45%;
}

.social a{ 
    display: flex;
    width: 40px;
    height: 40px;
    justify-content:center;
    align-items: center;
    float: left;
    list-style-type: none;
}